<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    <h2>Answer</h2>
    <hr>
      <span><b>Question:-</b></span> <%= @faq.question %></br><br>
      <span><b>Answer:-</b></span> <%= @faq.answer %></br>
    <div class="clearfix"></div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn answer">Close</button>
    </div>
  </div>
</div>