<div class="container-fluid faq">
  <form class="form-vertical" style="float: right;margin-top: 20px;width: 41%;">
  <fieldset>

    <!-- Form Name -->
    <legend class="font-color">Ask Your Question</legend>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label font-color" for="where">To</label>
      <div class="col-md-4">      
         <select id="category" name="category" class="form-control wdth">
          <option value="1">Email 1</option>
          <option value="2">Email 2</option>
          <option value="1">Email 3</option>
          <option value="2">Email 4</option>
        </select>
      </div>
    </div></br>
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label font-color" for="category">Category</label>
      <div class="col-md-4">
        <select id="category" name="category" class="form-control wdth">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div></fieldset></br>
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label font-color" for="your_question">Your Question</label>
      <div class="col-md-4">                     
        <textarea class="form-control rz-none" id="your_question" name="your_question" rows="4" cols="50">Ask Your Question here...</textarea>
      </div>
    </div>

  </fieldset>
  </form>
</div>
