<div id="header-wrapper" class="header-slider">
	<header class="clearfix">
	<div class="logo">		
		<%= image_tag("logo-image.png") %>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div id="main-flexslider" class="flexslider">
					<ul class="slides">
						<li>
						<p class="home-slide-content">
							<strong>creative</strong> and passion
						</p>
						</li>
						<li>
						<p class="home-slide-content">
							Eat and drink <strong>design</strong>
						</p>
						</li>
						<li>
						<p class="home-slide-content">
							We loves <strong>simplicity</strong>
						</p>
						</li>
					</ul>
				</div>
				<!-- end slider -->
			</div>
		</div>
	</div>
	</header>
</div>
<!-- spacer section -->
<section class="spacer green">
<div class="container">
	<div class="row">
		<div class="span6 alignright flyLeft">
			<blockquote class="large">
				 There's huge space beetween creativity and imagination <cite>Mark Simmons, Nett Media</cite>
			</blockquote>
		</div>
		<div class="span6 aligncenter flyRight">
			<i class="icon-coffee icon-10x"></i>
		</div>
	</div>
</div>
</section>
