<div class="container-fluid">  
	<div class="row">
			<div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab11" data-toggle="tab">Picnic</a></li>
        <li><a href="#tab12" data-toggle="tab">Innogration</a></li>
        <li><a href="#tab13" data-toggle="tab">Birthday</a></li>        
      </ul>
      <div class="tab-content prof-colr">
        <div class="tab-pane active" id="tab11">    
          <div class="gal">
					 	<% for i in 0..10 %>
			  			<img src="https://preview.ibb.co/i0PmHk/1.jpg" alt="">
						<% end %>				
					</div>
        </div>
        <div class="tab-pane" id="tab12">
          <div class="gal">
					 	<% for i in 0..5 %>
			  			<%= image_tag("/assets/innog.jpg")%>
						<% end %>				
					</div>
        </div>
        <div class="tab-pane" id="tab13">
          <div class="gal">
					 	<% for i in 0..5 %>			  			
			  			<%= image_tag("/assets/birth1.jpg")%>
						<% end %>				
					</div>
        </div>
      </div>
    </div>
	</div>
</div>
